<section class="character container-fluid">
    <div class="row match-my-cols">
        <div class="card col-sm-4"><img src="/images/samus1.png" alt="" id="samus1"><br/><button id="samus1" class="btn" ng-click="sc.samusClickButton1()">Hi Five Samus!</button><br/>Count: {{sc.samusCount1.count}}</div>
        <div class="card col-sm-4"><img src="/images/samus2.png" alt=""><br/><button id="samus2" class="btn" ng-click="sc.samusClickButton2()">Hi Five Samus Again!</button><br/>Count: {{sc.samusCount2.count}}</div>
        <div class="card col-sm-4"><img src="/images/samus3.gif-c200" alt=""><br/><button id="samus3" class="btn" ng-click="sc.samusClickButton3()">Hi Five Samus a third time!</button><br/>Count: {{sc.samusCount3.count}}</div>
        <!-- <img src="/images/samus4.png" alt=""> -->
</section>